.interior h6 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}

.content-full-width {
    padding: 5px 100px 20px 100px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.interior #MainCopy_ContentWrapper {
    background: #f8f8f8;
    padding: 0;
}

.interior .page-heading~#MainCopy_ContentWrapper {
    padding-top: 60px;
}
.interior #MainCopy_ContentWrapper:not(.no-footer-padding) {
    padding-bottom: 60px;
}
.interior [class*="col-md-"] {
    min-height: 0;
}
.no-pageTitle-padding {
    padding-top: 0;
}

/************ cta buttons ************/

.cta-button em {
    display: block;
    margin: -15px;
}

.cta-button em a {
    display: block;
    text-align: center;
    text-transform: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background: [PrimaryColor];
    margin: 15px;
    padding: 30px;
    border: none;
}
.cta-button em a::after {
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
    z-index: 0;
}

.cta-button em a:hover::after,
.cta-button em a:focus::after {
    opacity: .2;
    transition: .3s;
}

.cta-button em a::before {
    color: [SecondaryColor];
    font-size: 60px;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
    font-family: FloridaMakes;
    position: relative;
    z-index: 1;
}

.cta-button.board-officers em a::before {
    content: '\f03e';
}

.cta-button.leadership-btn em a::before {
    content: '\f03f';
}

.cta-button.ba-staff em a::before {
    content: '\f040';
}

.cta-button.fm-staff em a::before {
    content: '\f048';
}

.cta-button.third-party em a::before {
    content: '\f026';
}

.cta-button.rmas em a::before {
    content: '\f022';
}

.cta-button.partners em a::before {
    content: '\f028';
}

/************ team tiles ************/

.team-tile {
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.team-tile .HtmlContent>strong:first-child {
    border-radius: 50%;
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.team-tile .HtmlContent>strong:first-child img {
    width: 100%;
    height: auto;
}

.team-tile h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.team-tile h3 a {
    font-size: 18px;
    line-height: 26px;
    color: #222;
}

.team-tile h3 a:hover,
.team-tile h3 a:focus {
    text-decoration: underline;
}

.team-tile h5 {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 10px;
}

.team-tile a {
    font-size: 0;
    line-height: 0;
    margin: 10px;
}

.team-tile a i {
    color: #242A2D;
    font-size: 16px;
    line-height: 18px;
}

.team-tile a:hover i,
.team-tile a:focus i {
    color: #F7B321;
}

/************ callout CTA ************/
.callout-CTA {
    width: 370px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 2px;
    padding: 35px 25px;
    max-width: 100%;
}
.callout-CTA h3 {
    margin-top: 0;
    color: #65646A;
    font-weight: 700;
    margin-bottom: 15px;
}

.callout-CTA h3 strong {
    color: #222;
    display: block;
}

.callout-CTA h3+p {
    padding-bottom: 25px;
    border-bottom: 1px solid #F3F3F3;
}

.callout-CTA h6 {
    color: #222;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
}

.callout-CTA h6+p a {
    text-decoration: none;
    color: #8E8E8E;
}

.callout-CTA h6+p::before {
    float: left;
    margin-right: 12px;
    color: [SecondaryColor];
    font-size: 15px;
    font-family: FloridaMakes;
}

.callout-CTA h6:first-of-type+p::before {
    content: '\f041';
}

.callout-CTA h6:last-of-type+p::before {
    content: '\f03a';
}

.callout-CTA p {
    margin-bottom: 0;
}

/************ testimonials ***********/

.testimonial-wrapper {
    background: [PrimaryColor];
    background-size: cover;
    background-position: center;
    margin-top: 15px;
}

.testimonial-wrapper>.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.testimonial-wrapper .text-block,
.testimonial-wrapper .text-block h2 {
    color: #fff;
}

.testimonial-wrapper .testimonial-slider .slick-arrow {
    color: #fff;
}

.testimonials {
    padding: 60px 0 80px 0;
}

@media (min-width: 992px) {
    .testimonials {
        display: flex;
        align-items: center;
    }

}

.text-block h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.text-block h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.text-block em a {
    margin-top: 45px;
    background-color: [SecondaryColor];
    border-color: [SecondaryColor];
}

.testimonial {
    padding: 0 15px;
}

.testimonial>a {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 16px 0px 16px 2px;
    padding: 50px 40px;
    text-decoration: none;
    color: #9a9a9a;
    display: block;
}

.testimonial>a:hover,
.testimonial>a:focus {
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
}

.testimonial h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.testimonial h5 {
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
}


/****** slider ******/

.testimonial-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

.testimonial-slider .slick-arrow {
    position: absolute;
    bottom: -30px;
    font-size: 16px;
    line-height: 18px;
    color: #8e8e8e;
    z-index: 10;
    background: transparent;
    border: none;
}

.testimonial-slider .slick-arrow {
    bottom: -50px;
}

.testimonial-slider .slick-arrow:hover,
.testimonial-slider .slick-arrow:focus {
    color: [SecondaryColor];
}

.testimonial-slider .next-arrow {
    right: 0;
}

.testimonial-slider .prev-arrow {
    right: 40px;
}

@media (max-width: 991px) {
    .testimonials>.col-md-8 {
        margin-top: 30px;
    }
}
@media (max-width: 768px) { 
    .content-full-width {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/************ interior page news & events ************/

.interior-news .HLLandingControl h2,
.upcoming-events .HLLandingControl h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 0;
    border-bottom: 1px solid #f3f3f3;
}

.interior-news .Content ul li {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
    margin: 0;
}

.interior-news .Content ul li .img-container {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    width: 175px;
    height: 140px;
    margin-right: 30px;
    position: relative;
}

.interior-news .Content ul li .img-container.no-ajax-image {
    /* display: none; */
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/FLORIDAMAKES/61ce150a-fea4-4735-bbb6-b30a52e237b2/UploadedImages/images/temp/tempx250.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* .interior-news .Content ul li .img-container.no-ajax-image + .text-container {
    width: 100%;
} */

.interior-news .Content ul li .text-container {
    width: calc(100% - 205px);
    padding-top: 35px;
    position: relative;
}

.interior-news .Content ul li .text-container .col-md-12 {
    position: static;
}

.interior-news .HLLandingControl ul li h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.interior-news .HLLandingControl ul li .ByLine {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8e8e8e;
}

.interior-news .Content ul li .text-container .content-tags {
    position: absolute;
    top: 0;
    left: -3px;
}

.interior-news .Content ul li .content-tags .flex-tag-container>.label-search-tag:not(:first-child) {
    display: none;
}

.interior-news .Content ul li .text-container .content-tags>.text-muted,
.interior-news .Content ul li .text-container .content-tags .label-search-tag .fa-user {
    display: none;
}

.interior-news .Content ul li .text-container .content-tags .label-search-tag {
    background: transparent;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #8e8e8e;
    border: none;
    margin: 0;
}

.interior-news .Content ul li .text-container .content-tags .label-search-tag:hover,
.interior-news .Content ul li .text-container .content-tags .label-search-tag:focus {
    color: #111821;
    text-decoration: underline;
}

@keyframes imgcontainerloading {
    0% {
        background: #242A2D;
    }

    50% {
        background: #0B1A1D;
    }

    100% {
        background: #242A2D;
    }
}

.interior-news .Content ul li .img-container::before {
    content: '';
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: imgcontainerloading;
    animation-duration: 3s;
}

.interior-news .Content ul li .img-container.loading::before {
    opacity: 1;
    transition: .3s;
}

@media (max-width: 450px) {
    .interior-news .Content ul li {
        display: block;
    }

    .interior-news .Content ul li .text-container {
        width: 100%;
        margin-top: 20px;
    }
}

/****** upcoming events ******/


.upcoming-events .HLLandingControl .Content ul li {
    padding: 20px 0;
    border-bottom: 1px solid #f0f3f5;
    margin: 0;
}

.upcoming-events ul li .col-md-2 {
    width: 80px;
    margin-right: 20px;
    float: left;
}

.upcoming-events ul li .col-md-2 .margin-bottom-mediumm {
    margin-bottom: 0;
}

.upcoming-events ul li .col-md-10 {
    width: calc(100% - 100px);
    float: left;
}

.upcoming-events ul li .date-block {
    width: 80px;
    height: 80px;
    background: [SecondaryColor];
    border-radius: 16px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming-events ul li .date-block .calendar-day {
    display: none;
}

.upcoming-events ul li .date-block .calendary-number {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
}

.upcoming-events ul li .date-block .calendar-month {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding: 0;
    background: transparent;
}

.upcoming-events ul li .col-md-10 .col-md-12 {
    padding-top: 30px !important;
}

.upcoming-events ul li .col-md-10 h4 {
    position: absolute;
    top: 0;
    left: 0;
    color: #8e8e8e;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.upcoming-events ul li .col-md-10 p.break-word {
    display: none;
}

.upcoming-events ul li .col-md-10 .timeAgoFormat {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8e8e8e;
}

.past-events ul li .col-md-10 div[id*="CalendarLocation"] p {
    text-transform: none;
    letter-spacing: 0;
}

.upcoming-events ul li .col-md-10 .timeAgoFormat::before {
    color: [SecondaryColor];
    margin-right: 2px;
    font-family: FloridaMakes;
    content: '\f01f';
}
@media (max-width: 550px) {

    .upcoming-events ul li .col-md-10 h4 {
        position: relative;
        top: auto;
        left: auto;
    }

    .upcoming-events ul li .col-md-10 .col-md-12 {
        padding-top: 0 !important;
    }
}

/************ ACL labels ************/

.HLLandingControl.SearchResults ul li .row.title-row .col-sm-3.col-md-3.pull-right {
    display: none;
}
.HLLandingControl.SearchResults ul li .row.title-row .col-md-9 {
    width: 100%;
}

/************ resetting HL blue ************/

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
#MPOuterMost .bootstrap-4 .btn-primary.focus,
#MPOuterMost .bootstrap-4 .btn-primary:focus,
#MPOuterMost .bootstrap-4 .btn-primary.hover,
#MPOuterMost .bootstrap-4 .btn-primary:hover:not(:disabled),
#MPOuterMost .bootstrap-4 .btn-success.focus,
#MPOuterMost .bootstrap-4 .btn-success:focus,
#MPOuterMost .bootstrap-4 .btn-success.hover,
#MPOuterMost .bootstrap-4 .btn-success:hover:not(:disabled),
#MPOuterMost .bootstrap-4 .btn-danger.focus,
#MPOuterMost .bootstrap-4 .btn-danger:focus,
#MPOuterMost .bootstrap-4 .btn-danger.hover,
#MPOuterMost .bootstrap-4 .btn-danger:hover:not(:disabled),
#MPOuterMost .bootstrap-4 fieldset.icon-radio-group label input[aria-checked=true]+*,
#MPOuterMost .bootstrap-4 .btn-icon-alt-secondary {
    background: [PrimaryColor];
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
#MPOuterMost .bootstrap-4 fieldset.icon-radio-group label input[aria-checked=true]+*,
#MPOuterMost .bootstrap-4 .btn-icon-alt-secondary {
    border-color: [PrimaryColor];
}

#MPOuterMost .bootstrap-4 .btn-primary,
#MPOuterMost .bootstrap-4 .btn-success,
#MPOuterMost .bootstrap-4 .btn-danger {
    border: none;
}

#MPOuterMost .bootstrap-4 .btn-contains-title:hover h3,
#MPOuterMost .bootstrap-4 .btn-contains-title:focus h3,
#MPOuterMost .bootstrap-4 .btn-inline-link-primary {
    color: #222;
}

/************ main nav ************/

#MPOuterMost #NAV,
#MPOuterMost .navbar-default {
    background-color: transparent;
    border: none;
}
#NAV .navbar-default .navbar-nav>li>a,
#NAV .navbar-default .navbar-nav>.active>a, 
#NAV .navbar-default .navbar-nav>.disabled>a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #222222; 
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.33;
    padding: 20px;
}
#NAV .navbar-default .navbar-nav>li>a:hover, 
#NAV .navbar-default .navbar-nav>li>a:focus,
#NAV .navbar-default .navbar-nav>.active>a:hover, 
#NAV .navbar-default .navbar-nav>.active>a:focus,
#NAV .navbar-default .navbar-nav>.disabled>a:hover, 
#NAV .navbar-default .navbar-nav>.disabled>a:focus,
#NAV .navbar-default .navbar-nav>.open>a, 
#NAV .navbar-default .navbar-nav>.open>a:hover, 
#NAV .navbar-default .navbar-nav>.open>a:focus {
	color: #222222; 
	background-color: transparent;
}

/* dropdowns */
#MPOuterMost .navbar-nav>li>.dropdown-menu {
	background-color: #fff;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 2px 2px;
    padding: 0;
    border-bottom: 2px solid [SecondaryColor];
}
#MPOuterMost .navbar-nav .dropdown-menu>li>a {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 15px;
}
#MPOuterMost .navbar-nav .dropdown-menu>.active>a,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:focus,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:focus {
	background: [SecondaryColor];
	color: #fff;
}

@media (min-width: 1151px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12,
    .navbar-collapse {
        padding: 0;
    }
    .navbar-nav {
        float: none;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1150px) {
    #MPOuterMost .navbar-nav>li>.dropdown-menu {
        box-shadow: none;
        border-radius: 0;
        border-bottom: none;
    }
    #MPOuterMost .navbar-nav>li>.dropdown-menu a {
        white-space: normal;
    }
    .navbar-header {
        float: none;
        position: relative;
    }
    .navbar-header::before {
        content: 'Navigation';
        display: block;
        text-align: right;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar-toggle {
        display: block;
        margin-right: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px 0;
        max-height: calc(100vh - 125px);
    }
    .navbar-nav > li {
        float: none;
        max-height: calc(100% - 150vh);
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-collapse.in {
        overflow-y: scroll;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    #HEADER {
        border-bottom: none;
    }
    .navbar-header::before {
        display: none;
    }
    .navbar-toggle {
        margin-right: 15px;
    }
    #NAV {
        margin-top: -65px;
    }
    #DesktopLogoDiv,
    #PhoneLogoDiv {
        max-width: 300px;
    }
}

/*** MCS edits ***/

/* accordions/expandable text */
.accordion-heading button {
    font-size: 15px;
    text-decoration: none;
    color: #222222;    /* link colour */
    background: #f8f8f8;
    padding: 8px 10px 2px 5px;
    margin: 0;
    border: none;
    border-top: 1px solid #E6E7EA;
    cursor: pointer;
    transition: .3s;
    display: block;
    width: 100%;
    text-align: left;
}
.accordion-heading button:hover,
.accordion-heading button:focus {
    color: #2e6da4;    /* link hover colour */
    transition: .3s;
}
.accordion-heading button::before { 
    font-family: FloridaMakes;    /* change to appropriate kit/unicode */
    content: '\f016';
    color: #333;    /* change  icon colour */
    margin-right: 8px;
}
.open .accordion-heading button::before {
    font-family: FloridaMakes;    /* change to appropriate kit/unicode */
    content: '\f015';
    color: #333;    /* change  icon colour */
}
.accordion-text {
    display: none;
    margin-top: 10px;
    margin-left: 13px;
}
.accordion-wrap .ContentItemHtml,
.accordion-wrap .ContentItemHtml:hover {
    transition: none !important;
}
.accordion-wrap {
    margin-top: 10px;
    margin-bottom: 5px;
}


/* bulleted link lists */
.link-list ul {
    padding-left: 0;
    margin-top: 20px;
}
.link-list ul li {
    padding: 12px 7px;
    border-top: 1px solid #E6E7EA;
    list-style-type: none;
}
.link-list ul li:last-child {
    border-bottom: 0px;
}
.link-list ul li a {
    font-weight: 500;
    text-transform: none;
    color: #222;
    font-size: 15px;
    line-height: 17px;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
    display: block;
}
.link-list ul li a::before {
    font-family: FloridaMakes;
    content: '\f017';
    color: #333;
    position: absolute;
    left: -3px;
}
.link-list ul li a[target*="blank"]::before {
    content: '\f019';    /* new window icon */
}
.link-list ul li a:hover::before,
.link-list ul li a:focus::before {
    color: #333;    /* change hover icon colour */
}
.link-list ul li a:hover,
.link-list ul li a:focus {
    color: #333;    /* change text hover colour */
    text-decoration: underline;
}


/* default line style */
hr {
    border: none;
    height: 1px;
    color: #E6E7EA;
    background-color: #E6E7EA;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* default table style */
table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    background-color: #FaFaFa;
    border: 1px solid #f5f5f5;
}
table tr:nth-child(2n) {
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
}
table tr td {
    padding: 10px 15px;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: #EDEDED;
}
table {
margin-bottom: 20px;
}


/* margins between sections */
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-minus-30 {
    margin-top: -30px;
}
.margin-top-minus-15 {
    margin-top: -15px;
}


/* interior white background */
.background-white {
    background: #fff;
    padding: 10px;
}
