/****** CSS Site Load ******/

/*** interior highlight tile ***/
.highlight-tile {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04), 0 0 20px 0 rgba(0,0,0,0.06);
}
.highlight-tile {
    padding: 20px 30px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.highlight-tile h2,
.highlight-tile h3 {
    margin-top: 4px;
}

/***  interior grey tile ***/
.grey-tile {
    background: #FAFAFA;
    border-radius: 3px;
}
.grey-tile {
    padding: 20px 30px 15px 30px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.grey-tile h2,
.grey-tile h3 {
    margin-top: 0px;
}
 

/*** default image caption ***/
figure.image {
    padding: 15px;
    background-color: rgba(0,0,0,0);
    margin: 5px 0px;
}

figcaption {
    display: block;
}
figcaption {
    margin-top:12px; 
    font-family: inherit;
    color: #666;
    font-size: 14px;
}

/*** plain table style ***/
.plain-table tr td {
    padding: 10px 15px;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: #EDEDED;
}
.plain-table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    background-color: #FaFaFa;
    border: 1px solid #f5f5f5;
}
.plain-table tr:nth-child(2n) {
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
}

/*** stick-to-top responsive content ***/
.stick-to-top {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .stick-to-top {
        flex-direction: column-reverse;
    }
}

/*** equal height tile row ***/
.tile-grow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tile-grow div[class*="section"] {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
}

.tile-grow div[class*="section"]>div,
.tile-grow div[class*="section"] .HtmlContent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}

.tile-grow div[class*="section"] .HtmlContent em {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100% + 30px);
    display: flex;
}

.tile-grow div[class*="section"] .HtmlContent em a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}

/*** fix non-responsive images ***/
img {
    max-width: 100%;
}

/* stop the content overflowing to the sides, especially with negative margins on .row */
#MPOuterMost {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
/* hide .HtmlFooter and .MPBottomMenu, both of which add extra padding/whitespace */
.HtmlFooter,
.MPBottomMenu {
    display: none;
}
/* remove bottom margin from empty paragraphs (eg. in widgets) to avoid whitespace */
p:empty {
    margin-bottom: 0;
}
/* this one's not HL-specific */
/* centres all background images created using the bg image JS/ajax calls for images */
.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}
/* avoids 1px tall sections, especially when they hold JS but no content */
/* can be less specific, but might break other HL functionality */
.home .col-md-12[class*="section"] {
    min-height: 0;
}
/* allows for word breaking for emails and profile inbox messages */
body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
/* overrides the above word breaking for yes/no toggle buttons in create event */
#event-additional-details-container {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
}
/* resets the padding on col-md-12 full-width sections */
.row-full > .col-md-12,
#MPOuterMost.full .row-full > div.section1,
#MPOuterMost.full .row-full > div.section2 {
    padding: 0;
}
.row-full .row-wide > .col-md-12[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
.row-full .col-md-6[class*="section"],
.row-full .col-md-8[class*="section"],
.row-full .col-md-4[class*="section"],
.row-full .col-md-3[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* reset alerts to neutral colours */
.alert-warning, .alert-success, 
.ideation-home .alert.alert-success, 
.ideation-detail .alert.alert-success {
    color: inherit;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
}

/*** fix Add Event button styling ***/

.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right {
    float: none !important;
    text-align: right;
}
.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right + br {
    display: none;
}

@media (max-width: 768px) {
    .btn-group>.btn, .btn-group-vertical>.btn {
        float: left;
    }
}
/*** fixing non-responsive images ***/
img {
    max-width: 100%;
}

/*** fixing lack of wrapping on community settings dropdown buttons ***/
.CommunityManagementGearStatusPaddingL {
    white-space: normal;
}
/****** fix missing left-hand profile page content on my contacts page ******/
.text-muted-h2.my-contacts .col-md-3.section1 {
    display: block !important;
}

/****** END PRELOAD ******/

.interior h6 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}

.content-full-width {
    padding: 5px 100px 20px 100px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.interior #MainCopy_ContentWrapper {
    background: #f8f8f8;
    padding: 0;
}

.interior .page-heading~#MainCopy_ContentWrapper {
    padding-top: 60px;
}
.interior #MainCopy_ContentWrapper:not(.no-footer-padding) {
    padding-bottom: 60px;
}
.interior [class*="col-md-"] {
    min-height: 0;
}
.no-pageTitle-padding {
    padding-top: 0;
}

/****** fonts ******/
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.text-muted {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #8e8e8e;
    font-size: 14px;
    line-height: 1.85;
}
h1, .h1,
.large-h2 h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3;
}
h2, .h2 {
    color: #222;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.375;
}
.small-h2 h2,
.small-h2 .h2,
.tile h2,
h4, .h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.no-margin-top-h2 h2 {
    margin-top: 0;
}
.HLLandingControl .heading h2 {
    padding-left: 0;
}
h3, .h3,
.HLLandingControl .Content ul li h3,
.HLLandingControl .Content ul li h3 a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #222222;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
}
.ContentUserControl .HLLandingControl h4 {
    color: #8e8e8e;
}
.ContentUserControl .HLLandingControl h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #8e8e8e;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

/****** transitions ******/

button,
button:hover,
button:focus,
a,
a:hover,
a:focus,
input,
input:hover,
input:focus {
    transition: .3s;
}

/****** round profile pictures ******/

.Welcome .imgButton.btn,
a[id*="ProfileImage"]:not([id*="NameLink"]):not([id*="ManageDropDown"]),
a[id*="UserImageDisplay"],
a[id*="Contacts_PictureLink"],
a[id*="lnkDisplay"],
a[id*="Welcome_Details_ProfileLink"],
.list-group-item-image,
a[title="User Name Image"],
a[oldtitle="User Name Image"],
.member-dashboard-img a,
.dashboard-col-3 ul li .col-sm-2 a,
.HLEngagement .Picture a,
td.ProfilePic > a {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #d8d9db;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.Welcome .imgButton.btn {
    background-color: #fff;
}
.list-group-item-nochild .list-group-item-image {
    width: 20px;
    height: 20px;
}
.Welcome button.btn-default.btn.imgButton {
    width: 25px;
    height: 25px;
    min-height: 25px;
    border: none;
    margin-left: 15px;
}
.text-muted-h2 a[id*="ImageControl_lnkDisplay"] {
    width: 140px;
    height: 140px;
    background: #f9f9f9;
}
.HLEngagement .Picture a {
    width: 50px;
    height: 50px;
}
a[id*="Welcome_Details_ProfileLink"] {
    width: 60px;
    height: 60px;
}

.imgButton img,
a[id*="ProfileImage"] img,
a[id*="UserImageDisplay"] img,
a[id*="Contacts_PictureLink"] img,
a[id*="lnkDisplay"] img,
a[id*="Welcome_Details_ProfileLink"] img,
.list-group-item-image img,
a[title="User Name Image"] img,
a[oldtitle="User Name Image"] img,
.member-dashboard-img img,
.dashboard-col-3 ul li .col-sm-2 a img,
.HLEngagement .Picture a img,
td.ProfilePic > a > img {
    position: relative;
    max-height: 100% !important;
    width: auto;
    margin: 0;
}

.member-directory .member-picture {
    text-align: center;
}

/************ header *************/

/*** top text links ***/

#MPAuxNav ul.level1 li a,
#Welcome_LoginLink {
    padding: 0;
    margin: 0 0 0 15px;
    text-decoration: none;
    text-transform: none;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 1.46;
    font-weight: 400;
    border: none;
    letter-spacing: 0;
}
#MPAuxNav ul.level1 li a:hover,
#MPAuxNav ul.level1 li a:focus,
#Welcome_LoginLink:hover,
#Welcome_LoginLink:focus {
    text-decoration: underline;
}
#Welcome_NotLoggedIn {
    line-height: 1.46;
    font-size: 13px;
}
#MPheader > .row:first-child > .col-md-12 > .pull-right {
    font-size: 13px;
    line-height: 1.46;
}

/****** buttons ******/

.make-buttons em {
    display: inline-block;
    margin: -5px;
}
.make-buttons em a {
    display: inline-block;
    margin: 5px;
}
.btn,
.make-buttons em a {
    font-style: normal;
    text-decoration: none;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 15px;
    position: relative;
}
.btn-sm,
.form-control + .input-group-btn .btn {
    padding: 6px 10px;
}
.make-buttons.outline em a {
    background: transparent;
    border-color: #fff;
}
.make-buttons.outline em a:hover,
.make-buttons.outline em a:focus {
    background: #fff;
}
.btn::before,
.make-buttons em a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: .3s;
}
.btn:hover::before,
.btn:focus::before,
.make-buttons em a:hover::before,
.make-buttons em a:focus::before {
    opacity: 0.1;
    z-index: 0;
    transition: .3s;
}
.make-buttons.outline em a::before,
.make-buttons.outline em a:hover::before,
.make-buttons.outline em a:focus::before {
    display: none;
}

/************ cta buttons ************/

.cta-button.make-buttons em {
    display: block;
    margin: -15px;
}

.cta-button.make-buttons em a {
    display: block;
    text-align: center;
    text-transform: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 15px;
    padding: 30px;
    border: none;
}
.cta-button.make-buttons em a::after {
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
    z-index: 0;
}

.cta-button.make-buttons em a:hover::after,
.cta-button.make-buttons em a:focus::after {
    opacity: .2;
    transition: .3s;
}

.cta-button.make-buttons em a::before {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
    font-family: FloridaMakes;
    position: relative;
    z-index: 1;
    opacity: 1;
    background: transparent;
}

.cta-button.make-buttons.board-officers em a::before {
    content: '\f03e';
}

.cta-button.make-buttons.leadership-btn em a::before {
    content: '\f03f';
}

.cta-button.make-buttons.ba-staff em a::before {
    content: '\f040';
}

.cta-button.make-buttons.fm-staff em a::before {
    content: '\f048';
}

.cta-button.make-buttons.third-party em a::before {
    content: '\f026';
}

.cta-button.make-buttons.rmas em a::before {
    content: '\f022';
}

.cta-button.make-buttons.partners em a::before {
    content: '\f028';
}

/************ team tiles ************/

.team-tile {
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.team-tile .HtmlContent>strong:first-child {
    border-radius: 50%;
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.team-tile .HtmlContent>strong:first-child img {
    width: 100%;
    height: auto;
}

.team-tile h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.team-tile h3 a {
    font-size: 18px;
    line-height: 26px;
    color: #222;
}

.team-tile h3 a:hover,
.team-tile h3 a:focus {
    text-decoration: underline;
}

.team-tile h5 {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 10px;
}

.team-tile a {
    font-size: 0;
    line-height: 0;
    margin: 10px;
}

.team-tile a i {
    color: #242A2D;
    font-size: 16px;
    line-height: 18px;
}

.team-tile a:hover i,
.team-tile a:focus i {
    color: #F7B321;
}

/************ callout CTA ************/
.callout-CTA {
    width: 370px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 2px;
    padding: 35px 25px;
    max-width: 100%;
}
.callout-CTA h3 {
    margin-top: 0;
    color: #65646A;
    font-weight: 700;
    margin-bottom: 15px;
}

.callout-CTA h3 strong {
    color: #222;
    display: block;
}

.callout-CTA h3+p {
    padding-bottom: 25px;
    border-bottom: 1px solid #F3F3F3;
}

.callout-CTA h6 {
    color: #222;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
}

.callout-CTA h6+p a {
    text-decoration: none;
    color: #8E8E8E;
}

.callout-CTA h6+p::before {
    float: left;
    margin-right: 12px;
    font-size: 15px;
    font-family: FloridaMakes;
}

.callout-CTA h6:first-of-type+p::before {
    content: '\f041';
}

.callout-CTA h6:last-of-type+p::before {
    content: '\f03a';
}

.callout-CTA p {
    margin-bottom: 0;
}

/************ testimonials ***********/

.testimonial-wrapper {
    background-size: cover;
    background-position: center;
    margin-top: 15px;
}

.testimonial-wrapper>.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.testimonial-wrapper .text-block,
.testimonial-wrapper .text-block h2 {
    color: #fff;
}

.testimonial-wrapper .testimonial-slider .slick-arrow {
    color: #fff;
}

.testimonials {
    padding: 60px 0 80px 0;
}

@media (min-width: 992px) {
    .testimonials {
        display: flex;
        align-items: center;
    }

}

.text-block h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.text-block h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.text-block em a {
    margin-top: 45px;
}

.testimonial {
    padding: 0 15px;
}

.testimonial>a {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 16px 0px 16px 2px;
    padding: 50px 40px;
    text-decoration: none;
    color: #9a9a9a;
    display: block;
}

.testimonial>a:hover,
.testimonial>a:focus {
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
}

.testimonial h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.testimonial h5 {
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
}


/****** slider ******/

.testimonial-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

.testimonial-slider .slick-arrow {
    position: absolute;
    bottom: -30px;
    font-size: 16px;
    line-height: 18px;
    color: #8e8e8e;
    z-index: 10;
    background: transparent;
    border: none;
}

.testimonial-slider .slick-arrow {
    bottom: -50px;
}

.testimonial-slider .next-arrow {
    right: 0;
}

.testimonial-slider .prev-arrow {
    right: 40px;
}

@media (max-width: 991px) {
    .testimonials>.col-md-8 {
        margin-top: 30px;
    }
}
@media (max-width: 768px) { 
    .content-full-width {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/************ interior page news & events ************/

.interior-news .HLLandingControl h2,
.upcoming-events .HLLandingControl h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 0;
    border-bottom: 1px solid #f3f3f3;
}

.interior-news .Content ul li {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
    margin: 0;
}

.interior-news .Content ul li .img-container {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    width: 175px;
    height: 140px;
    margin-right: 30px;
    position: relative;
}

.interior-news .Content ul li .img-container.no-ajax-image {
    /* display: none; */
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/FLORIDAMAKES/61ce150a-fea4-4735-bbb6-b30a52e237b2/UploadedImages/images/temp/tempx250.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* .interior-news .Content ul li .img-container.no-ajax-image + .text-container {
    width: 100%;
} */

.interior-news .Content ul li .text-container {
    width: calc(100% - 205px);
    padding-top: 35px;
    position: relative;
}

.interior-news .Content ul li .text-container .col-md-12 {
    position: static;
}

.interior-news .HLLandingControl ul li h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.interior-news .HLLandingControl ul li .ByLine {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8e8e8e;
}

.interior-news .Content ul li .text-container .content-tags {
    position: absolute;
    top: 0;
    left: -3px;
}

.interior-news .Content ul li .content-tags .flex-tag-container>.label-search-tag:not(:first-child) {
    display: none;
}

.interior-news .Content ul li .text-container .content-tags>.text-muted,
.interior-news .Content ul li .text-container .content-tags .label-search-tag .fa-user {
    display: none;
}

.interior-news .Content ul li .text-container .content-tags .label-search-tag {
    background: transparent;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #8e8e8e;
    border: none;
    margin: 0;
}

.interior-news .Content ul li .text-container .content-tags .label-search-tag:hover,
.interior-news .Content ul li .text-container .content-tags .label-search-tag:focus {
    color: #111821;
    text-decoration: underline;
}

@keyframes imgcontainerloading {
    0% {
        background: #242A2D;
    }

    50% {
        background: #0B1A1D;
    }

    100% {
        background: #242A2D;
    }
}

.interior-news .Content ul li .img-container::before {
    content: '';
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: imgcontainerloading;
    animation-duration: 3s;
}

.interior-news .Content ul li .img-container.loading::before {
    opacity: 1;
    transition: .3s;
}

@media (max-width: 450px) {
    .interior-news .Content ul li {
        display: block;
    }

    .interior-news .Content ul li .text-container {
        width: 100%;
        margin-top: 20px;
    }
}

/****** upcoming events ******/


.upcoming-events .HLLandingControl .Content ul li {
    padding: 20px 0;
    border-bottom: 1px solid #f0f3f5;
    margin: 0;
}

.upcoming-events ul li .col-md-2 {
    width: 80px;
    margin-right: 20px;
    float: left;
}

.upcoming-events ul li .col-md-2 .margin-bottom-mediumm {
    margin-bottom: 0;
}

.upcoming-events ul li .col-md-10 {
    width: calc(100% - 100px);
    float: left;
}

.upcoming-events ul li .date-block {
    width: 80px;
    height: 80px;
    border-radius: 16px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming-events ul li .date-block .calendar-day {
    display: none;
}

.upcoming-events ul li .date-block .calendary-number {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
}

.upcoming-events ul li .date-block .calendar-month {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding: 0;
    background: transparent;
}

.upcoming-events ul li .col-md-10 .col-md-12 {
    padding-top: 30px !important;
}

.upcoming-events ul li .col-md-10 h4 {
    position: absolute;
    top: 0;
    left: 0;
    color: #8e8e8e;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.upcoming-events ul li .col-md-10 p.break-word {
    display: none;
}

.upcoming-events ul li .col-md-10 .timeAgoFormat {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8e8e8e;
}

.past-events ul li .col-md-10 div[id*="CalendarLocation"] p {
    text-transform: none;
    letter-spacing: 0;
}

.upcoming-events ul li .col-md-10 .timeAgoFormat::before {
    margin-right: 2px;
    font-family: FloridaMakes;
    content: '\f01f';
}
@media (max-width: 550px) {

    .upcoming-events ul li .col-md-10 h4 {
        position: relative;
        top: auto;
        left: auto;
    }

    .upcoming-events ul li .col-md-10 .col-md-12 {
        padding-top: 0 !important;
    }
}

/************ ACL labels ************/

.HLLandingControl.SearchResults ul li .row.title-row .col-sm-3.col-md-3.pull-right {
    display: none;
}
.HLLandingControl.SearchResults ul li .row.title-row .col-md-9 {
    width: 100%;
}

/************ resetting HL blue ************/

#MPOuterMost .bootstrap-4 .btn-primary,
#MPOuterMost .bootstrap-4 .btn-success,
#MPOuterMost .bootstrap-4 .btn-danger {
    border: none;
}

#MPOuterMost .bootstrap-4 .btn-contains-title:hover h3,
#MPOuterMost .bootstrap-4 .btn-contains-title:focus h3,
#MPOuterMost .bootstrap-4 .btn-inline-link-primary {
    color: #222;
}

/************ main nav ************/

#MPOuterMost #NAV,
#MPOuterMost .navbar-default {
    background-color: transparent;
    border: none;
}
#NAV .navbar-default .navbar-nav>li>a,
#NAV .navbar-default .navbar-nav>.active>a, 
#NAV .navbar-default .navbar-nav>.disabled>a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #222222; 
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.33;
    padding: 20px;
}
#NAV .navbar-default .navbar-nav>li>a:hover, 
#NAV .navbar-default .navbar-nav>li>a:focus,
#NAV .navbar-default .navbar-nav>.active>a:hover, 
#NAV .navbar-default .navbar-nav>.active>a:focus,
#NAV .navbar-default .navbar-nav>.disabled>a:hover, 
#NAV .navbar-default .navbar-nav>.disabled>a:focus,
#NAV .navbar-default .navbar-nav>.open>a, 
#NAV .navbar-default .navbar-nav>.open>a:hover, 
#NAV .navbar-default .navbar-nav>.open>a:focus {
	color: #222222; 
	background-color: transparent;
}
#MPButtonBar .dropdown-menu .dropdown-submenu .active a,
#NAV #MPButtonBar .dropdown-menu .dropdown-submenu .active a:hover, 
#NAV #MPButtonBar .dropdown-submenu .dropdown-submenu .active a:hover,
#MPButtonBar .dropdown-menu .dropdown-submenu li a:hover, #MPButtonBar .dropdown-menu .dropdown-submenu li a:focus {
    background-color: [SecondaryColor];
    color: #fff;
    display: block;
}

/* dropdowns */
#MPOuterMost .navbar-nav>li>.dropdown-menu {
	background-color: #fff;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 2px 2px;
    padding: 0;
    border-bottom: 2px solid;
}
#MPOuterMost .navbar-nav .dropdown-menu>li>a {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 15px;
}
#MPOuterMost .navbar-nav .dropdown-menu>.active>a,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:focus,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:focus {
	color: #fff;
}
/*** NSH 24.04.23 widening nav dropdowns ***/

#NAV .navbar-nav ul.dropdown-submenu > li > a {
    display: inline-block;
    white-space: nowrap;
    padding: 6px 15px;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
#NAV .navbar-nav ul.dropdown-submenu > li > a:is(:hover, :focus),
#NAV .navbar-nav ul.dropdown-submenu > .active > a:is(:hover, :focus) {
    color: #fff;
}
.nav.navbar-nav .dropdown-submenu>ul.dropdown-submenu {
    margin-left: 0;
    padding-left: 15px;
}

@media (min-width: 1151px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12,
    .navbar-collapse {
        padding: 0;
    }
    .navbar-nav {
        float: none;
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (max-width: 1150px) {
    #MPOuterMost .navbar-nav>li>.dropdown-menu {
        box-shadow: none;
        border-radius: 0;
        border-bottom: none;
    }
    #MPOuterMost .navbar-nav>li>.dropdown-menu a,
    #NAV .navbar-nav ul.dropdown-submenu > li > a {
        white-space: normal;
    }
    .navbar-header {
        float: none;
        position: relative;
    }
    .navbar-header::before {
        content: 'Navigation';
        display: block;
        text-align: right;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar-toggle {
        display: block;
        margin-right: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px 0;
        max-height: calc(100vh - 125px);
    }
    .navbar-nav > li {
        float: none;
        max-height: calc(100% - 150vh);
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-collapse.in {
        overflow-y: scroll;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    #HEADER {
        border-bottom: none;
    }
    .navbar-header::before {
        display: none;
    }
    .navbar-toggle {
        margin-right: 15px;
    }
    #NAV {
        margin-top: -65px;
    }
    #DesktopLogoDiv,
    #PhoneLogoDiv {
        max-width: 300px;
    }
}

/*** MCS edits ***/

/* accordions/expandable text */
.accordion-heading button {
    font-size: 15px;
    text-decoration: none;
    color: #222222;    /* link colour */
    background: #f8f8f8;
    padding: 8px 10px 2px 5px;
    margin: 0;
    border: none;
    border-top: 1px solid #E6E7EA;
    cursor: pointer;
    transition: .3s;
    display: block;
    width: 100%;
    text-align: left;
}
.accordion-heading button:hover,
.accordion-heading button:focus {
    color: #2e6da4;    /* link hover colour */
    transition: .3s;
}
.accordion-heading button::before { 
    font-family: FloridaMakes;    /* change to appropriate kit/unicode */
    content: '\f016';
    color: #333;    /* change  icon colour */
    margin-right: 8px;
}
.open .accordion-heading button::before {
    font-family: FloridaMakes;    /* change to appropriate kit/unicode */
    content: '\f015';
    color: #333;    /* change  icon colour */
}
.accordion-text {
    display: none;
    margin-top: 10px;
    margin-left: 13px;
}
.accordion-wrap .ContentItemHtml,
.accordion-wrap .ContentItemHtml:hover {
    transition: none !important;
}
.accordion-wrap {
    margin-top: 10px;
    margin-bottom: 5px;
}


/* bulleted link lists */
.link-list ul {
    padding-left: 0;
    margin-top: 20px;
}
.link-list ul li {
    padding: 12px 7px;
    border-top: 1px solid #E6E7EA;
    list-style-type: none;
}
.link-list ul li:last-child {
    border-bottom: 0px;
}
.link-list ul li a {
    font-weight: 500;
    text-transform: none;
    color: #222;
    font-size: 15px;
    line-height: 17px;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
    display: block;
}
.link-list ul li a::before {
    font-family: FloridaMakes;
    content: '\f017';
    color: #333;
    position: absolute;
    left: -3px;
}
.link-list ul li a[target*="blank"]::before {
    content: '\f019';    /* new window icon */
}
.link-list ul li a:hover::before,
.link-list ul li a:focus::before {
    color: #333;    /* change hover icon colour */
}
.link-list ul li a:hover,
.link-list ul li a:focus {
    color: #333;    /* change text hover colour */
    text-decoration: underline;
}


/* default line style */
hr {
    border: none;
    height: 1px;
    color: #E6E7EA;
    background-color: #E6E7EA;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* default table style */
table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    background-color: #FaFaFa;
    border: 1px solid #f5f5f5;
}
table tr:nth-child(2n) {
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
}
table tr td {
    padding: 10px 15px;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: #EDEDED;
}
table {
margin-bottom: 20px;
}


/* margins between sections */
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-minus-30 {
    margin-top: -30px;
}
.margin-top-minus-15 {
    margin-top: -15px;
}


/* interior white background */
.background-white {
    background: #fff;
    padding: 10px;
}