/* @import url("https://cdn.jsdelivr.net/gh/eConverse-Media/florida-makes@latest/fm-themes-stylesheet.min.css");  */

/************ basics ************/

/****** tenant-wide styling ******/

.cta-button.make-buttons em a::before {
    color: [SecondaryColor];
}
.callout-CTA h6+p::before {
    color: [SecondaryColor];
}
.text-block em a {
    background-color: [SecondaryColor];
    border-color: [SecondaryColor];
}
.testimonial-slider .slick-arrow:hover,
.testimonial-slider .slick-arrow:focus {
    color: [SecondaryColor];
}
.upcoming-events ul li .date-block {
    background: [SecondaryColor];
}
.upcoming-events ul li .col-md-10 .timeAgoFormat::before {
    color: [SecondaryColor];
}
#MPOuterMost .navbar-nav>li>.dropdown-menu {
    border-bottom-color: [SecondaryColor];
}
#MPOuterMost .navbar-nav .dropdown-menu>.active>a,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:focus,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:focus {
    background: [SecondaryColor];
}
a {
    color: [PrimaryColor];
}
a:hover,
a:focus {
    color: [PrimaryColor];
}
.btn,
.btn:hover,
.btn:focus,
.make-buttons em a {
    border-color: [SecondaryColor];
    background-color: [SecondaryColor];
    color: #fff;
}
.make-buttons.outline em a:hover,
.make-buttons.outline em a:focus {
    color: [PrimaryColor];
}
.cta-button.make-buttons em a {
    background: [PrimaryColor];
}
.testimonial-wrapper {
    background: [PrimaryColor];
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
#MPOuterMost .bootstrap-4 .btn-primary.focus,
#MPOuterMost .bootstrap-4 .btn-primary:focus,
#MPOuterMost .bootstrap-4 .btn-primary.hover,
#MPOuterMost .bootstrap-4 .btn-primary:hover:not(:disabled),
#MPOuterMost .bootstrap-4 .btn-success.focus,
#MPOuterMost .bootstrap-4 .btn-success:focus,
#MPOuterMost .bootstrap-4 .btn-success.hover,
#MPOuterMost .bootstrap-4 .btn-success:hover:not(:disabled),
#MPOuterMost .bootstrap-4 .btn-danger.focus,
#MPOuterMost .bootstrap-4 .btn-danger:focus,
#MPOuterMost .bootstrap-4 .btn-danger.hover,
#MPOuterMost .bootstrap-4 .btn-danger:hover:not(:disabled),
#MPOuterMost .bootstrap-4 fieldset.icon-radio-group label input[aria-checked=true]+*,
#MPOuterMost .bootstrap-4 .btn-icon-alt-secondary {
    background: [PrimaryColor];
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
#MPOuterMost .bootstrap-4 fieldset.icon-radio-group label input[aria-checked=true]+*,
#MPOuterMost .bootstrap-4 .btn-icon-alt-secondary {
    border-color: [PrimaryColor];
}

/****** fonts ******/

.small-h2 h2,
.small-h2 .h2,
.tile h2,
h4, .h4 {
    color: #8e8e8e;
}

/****** backgrounds / homepage components ******/

.bg-grey {
    padding: 60px 0;
    background: #f8f8f8;
}
.bg-white {
    background: #fff;
    padding: 50px 25px;
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    width: calc(100% - 30px);
}

/*** primary color background ***/
.bg-primary {
    padding: 70px 0;
    background: [PrimaryColor];
    position: relative;
}
.bg-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    display: block;
}
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary p {
    color: #fff;
}
.bg-primary h4,
.featured-news h4 {
    margin: 0;
}
.bg-primary h2,
.featured-news h2 {
    margin: 10px 0;
}

/*** row width ***/
@media (min-width: 992px) {
    .row-5-7 > .col-md-4 {
        width: 41.66666666667%;
    }
    .row-5-7 > .col-md-8 {
        width: 58.33333333333%;
    }
}

/*** flex title ***/ 
.flex-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-title h2 {
    margin-top: 0;
    margin-bottom: 0;
}

/*** margins ***/
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-70 {
    margin-top: 70px;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
@media (max-width: 991px) {
    .margin-bottom-40-mob {
        margin-bottom: 40px;
    }
}
.row-wide.neg-margin {
    max-width: 1230px;
}

/************ header ************/

#MPOuterMost.full #HEADER {
    max-width: 100%;
}
#MPOuterHeader > .col-md-12,
#HEADER > .col-md-12 {
    padding: 0;
}

#HEADER {
    padding: 20px calc(50% - 600px) 20px calc(50% - 600px);
    border-bottom: 1px solid #F5F5F5;
}

/****** logo and top text links ******/

#Logo {
    float: left;
}
#MPheader > .row:first-child {
    float: right;
    width: calc(100% - 425px);
    margin: 0;
    padding: 0;
}
.skiplinkholder a, .skiplinkholder a:link, .skiplinkholder a:visited {
    left: -500%;
	top: -250px;
}
.skiplinkholder a:focus, .skiplinkholder a:active {
    left: 0;
	top: 0;
}
#MPheader > .row:first-child > .col-md-12 {
    padding: 0;
}

/*** logo ***/
#MPOuterMost.full #Logo {
    padding: 0;
    margin: 0;
}
#Logo > .col-md-12 {
    padding: 0;
}
#DesktopLogoDiv {
    max-width: 340px;
}

/****** login / profile link ******/

#Welcome_LoginLink,
#Welcome_LoginLink:hover,
#Welcome_LoginLink:focus,
#Welcome_LoginLink:active {
    background: transparent;
    border: none;
    box-shadow: none;
}

#BtnShowProfile {
    display: none;
}
#Welcome_Content .imgButton {
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin-top: -3px;
}

/****** search ******/

#searchColumn {
    display: none;
}
.search-bar-top {
    float: right;
    width: 270px;
}
.search-bar-top,
#searchColumn {
    margin-top: 25px;
    border-radius: 2px;
    background: linear-gradient(0deg, rgba(244, 246, 248, 0.3), rgba(244, 246, 248, 0.3));
    border: 1px solid #F5F5F5;
    padding: 3px;
}
.search-bar-top .form-control,
#searchColumn .form-control {
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 1px 5px;
    color: #C8C8C8;
    font-size: 13px;
    line-height: 22px;
    height: 24px;
    box-shadow: none;
}
.search-bar-top .form-control::placeholder,
#searchColumn .form-control::placeholder {
    font-style: normal;
}
.search-bar-top button[id*="SearchButton"],
#searchColumn button[id*="SearchButton"] {
    border-radius: 2px;
    background: [SecondaryColor];
    padding: 0;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    width: 30px;
    height: 26px;
    border: none;
}
.search-bar-top button.btn.btn-default[id*="SearchButton"],
#searchColumn button.btn.btn-default[id*="SearchButton"] {
    padding: 0 0 0 2px;
}
.search-bar-top button[id*="SearchButton"] .glyphicon-search,
#searchColumn button[id*="SearchButton"] .glyphicon-search {
    width: auto;
    top: 0;
    vertical-align: unset !important;
}
.search-bar-top button[id*="SearchButton"] .glyphicon-search::before,
#searchColumn button[id*="SearchButton"] .glyphicon-search::before {
    color: #fff;
    font-family: FloridaMakes;
    content: '\f01c';
}
#searchColumn #MPSearchBlock {
    margin-top: 0;
}

/****** main nav ******/

/* nav caret */
.navbar-default .navbar-nav>.dropdown>a .caret,
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border: none;
    width: auto;
    height: auto;
}
.navbar-default .navbar-nav>.dropdown>a .caret::before {
    font-family: FloridaMakes;
    color: [SecondaryColor];
    content: '\f016';
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
    color: #8e8e8e;
}

/************ interior page titles ************/

.page-heading {
    background-size: cover;
    background-position: center;
}
.page-heading #PageTitleH1 {
    max-width: 100%;
    background: linear-gradient(90deg, [PrimaryColor] 4.06%, rgba(43, 45, 66, 0) 56.32%), linear-gradient(90.15deg, #1F1F1F 4.2%, rgba(29, 29, 29, 0) 81.47%);
    padding: 60px 50% 60px calc(50% - 585px);
    color: #fff;
}

/************ hero ************/

.hero .HtmlContent {
    background: linear-gradient(90deg, [PrimaryColor] 4.06%, rgba(43, 45, 66, 0) 56.32%), linear-gradient(90.15deg, #1F1F1F 4.2%, rgba(29, 29, 29, 0) 81.47%);
    padding: 125px 50% 150px calc(50% - 585px);
}
.hero h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
.hero h1,
.hero h2,
.hero h3,
.hero p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

/************ top tiles ************/

.top-tiles {
    margin-top: -150px;
    margin-bottom: 60px;
}
.top-tiles > .col-md-4 {
    padding: 15px;
}
.top-tile {
    text-align: center;
}
.top-tile h2::before {
    font-family: FloridaMakes;
    color: [SecondaryColor];
    font-size: 48px;
    line-height: 1;
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 400;
    content: '\f022';
}
.top-tile.assessment h2::before {
    content: '\f024';
}
.top-tile.services h2::before {
    content: '\f031';
}
.top-tile.technology h2::before {
    content: '\f027';
}
.top-tile.cyber h2::before {
    content: '\f029';
}
.top-tile.globe h2::before {
    content: '\f02a';
}
.top-tile.improvement h2::before {
    content: '\f025';
}
.top-tile.network h2::before {
    content: '\f026';
}
.top-tile.training h2::before {
    content: '\f028';
}
.top-tile.clipboard h2::before {
    content: '\f030';
}
.top-tile.flood h2::before {
    content: '\f02b';
}
.top-tile.file h2::before {
    content: '\f049';
}
.top-tile.calendar h2::before {
    content: '\f04a';
}
.top-tile.comments h2::before {
    content: '\f04b';
}
.top-tile.lectern h2::before {
    content: '\f04c';
}
.top-tile.handshake h2::before {
    content: '\f04d';
}
.top-tile.question h2::before {
    content: '\f04e';
}

.top-tiles .top-tile h2 {
    margin-top: 0;
    margin-bottom: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 2px;
}
.top-tile p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 26px;
}
.top-tile.make-buttons em,
.top-tile.make-buttons em a {
    display: block;
}
.top-tile.make-buttons em {
    margin: -3px;
}

/************ what we do ************/

.what-we-do h2::before {
    font-family: FloridaMakes;
    color: [SecondaryColor];
    font-size: 42px;
    line-height: 1;
    margin-bottom: 15px;
    content: '\f056';
    display: block;
    font-weight: 400;
}
.what-we-do h2 {
    margin-top: 10px;
}
.what-we-do .HtmlContent {
    width: 415px;
    max-width: 100%;
}
.what-we-do p {
    margin-bottom: 25px;
}

.service-buttons {
    display: flex;
    flex-wrap: wrap;
}
.service-button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    padding: 15px 0;
}
.service-button:nth-child(odd) {
    padding-right: 10px;
}
.service-button:nth-child(even) {
    padding-left: 10px;
}
.service-button a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    color: #4F4F4F;
    text-decoration: none;
    display: inline-block;
}
.service-button a::before {
    font-family: FloridaMakes;
    font-size: 5px;
    color: [SecondaryColor];
    content: '\f04f';
    float: left;
    margin-right: 12px;
}

/************ widgets ************/

.HLLandingControl .Content,
.ContentUserControl .HLLandingControl {
    padding: 0;
    margin: 0;
    border: none;
}
.HLLandingControl .Content ul {
    padding-top: 0;
}
.HLLandingControl .Content ul li {
    border: none;
    padding: 0;
    margin: 0;
}
.HLLandingControl .ByLine {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8e8e8e;
}
.byline-and-posted-in {
    margin-top: 4px;
    margin-bottom: 10px;
}
.byline-and-posted-in .ByLine,
.byline-and-posted-in h5 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.byline-and-posted-in .ByLine {
    margin-right: 20px;
}
.HLLandingControl div[id*="BottomLink"] .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/************ events ************/

.home .HLEventList ul li a {
    display: block;
    border-radius: 2px;
    background: #F3F3F3;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
    position: relative;
}
.home .HLEventList ul li:last-child a {
    margin-bottom: 0;
}
.home .HLEventList ul li a:hover,
.home .HLEventList ul li a:focus {
    background: #fff;
    box-shadow: 0px 10px 32px -4px rgba(65, 65, 65, 0.1);
    border-color: #f0f0f0;
}
.home .HLEventList ul li a .title-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 160px;
}
.home .HLEventList ul li a .title-row .col-md-9,
.home .HLEventList ul li a .title-row .col-md-12 {
    flex-basis: calc(100% - 160px);
    padding-left: 30px !important;
}
.home .HLEventList ul li a .title-row .col-md-3 {
    width: 160px;
}
.home .HLEventList ul li a .title-row .col-md-3 img {
    max-height: unset;
    max-width: 100%;
    border-radius: 2px;
}
.home .HLEventList ul li a .title-row .col-md-12 {
    position: static;
}
.home .ContentUserControl:not(.featured-event) .HLEventList ul li a .title-row .col-md-12::before {
    width: 160px;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    font-family: FloridaMakes;
    content: '\f050';
    background: [PrimaryColor];
    border-radius: 2px;
    color: #fff;
    font-size: 62px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .HLEventList ul li a .title-row h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
.home .HLEventList ul li a .title-row h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.home .HLEventList ul li a .title-row .timeAgoFormat {
    color: #8E8E8E;
    font-size: 12px;
    line-height: 20px;
}
.home .HLEventList ul li a .title-row .timeAgoFormat::before {
    float: left;
    font-family: FloridaMakes;
    content: '\f01f';
    color: [SecondaryColor];
    margin-right: 2px;
    font-size: 14px;
}

/****** featured event ******/

.home .featured-event .HLEventList ul li a {
    padding: 0;
    color: #8e8e8e;
}
.home .featured-event .HLEventList ul li a .title-row {
    flex-direction: column-reverse;
}
.home .featured-event .HLEventList ul li a .title-row .col-md-3,
.home .featured-event .HLEventList ul li a .title-row .col-md-9 {
    width: 100%;
}
.home .featured-event .HLEventList ul li a .title-row .col-md-3 img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.home .featured-event .HLEventList ul li a .title-row .col-md-9,
.home .featured-event .HLEventList ul li a .title-row .col-md-12 {
    padding: 30px !important;
}
.home .featured-event .HLEventList ul li a .title-row .col-md-12::before {
    content: '';
    height: 310px;
    width: calc(100% + 60px);
    display: block;
    margin: -30px -30px 30px -30px;
    border-radius: 2px 2px 0 0;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/FLORIDAMAKES/098e7a4e-fd24-4020-b01e-3abb3d7b3813/UploadedImages/RMA_1/unsplash_1-aA2Fadydc.png');
    background-size: cover;
    background-position: center;
}
.featured-event .event-description {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 25px;
}

/************ latest news ************/

.home .latest-news {
    position: relative;
}
.home .latest-news .HLLandingControl .heading h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.home .latest-news .HLLandingControl div[id*="MoreLink"] {
    position: absolute;
    top: -10px;
    right: 0;
}
.home .latest-news .HLLandingControl.SearchResults ul li .title-row .col-md-9.col-sm-9,
.home .latest-news .HLLandingControl.SearchResults ul li .title-row .col-md-7.col-sm-7 {
    width: 100%;
}
.home .latest-news .HLLandingControl.SearchResults ul li .title-row .col-md-3.pull-right {
    display: none;
}
.home .latest-news .HLLandingControl .Content ul {
    margin: 5px -15px -15px -15px;
    display: flex;
}
.home .latest-news .HLLandingControl .Content ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.33333333333%;
    display: flex;
    border-bottom: none;
    margin: 0;
    padding: 15px;
    position: relative;
}
.home .latest-news .HLLandingControl .Content ul li a {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    text-decoration: none;
}
.home .latest-news .HLLandingControl .Content ul li a .img-container {
    height: 170px;
    width: calc(100% - 2px);
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home .latest-news .HLLandingControl .Content ul li a .img-container.no-ajax-image {
    background-color: [PrimaryColor];
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .latest-news .HLLandingControl .Content ul li a .img-container.no-ajax-image::before {
    font-size: 100px;
    line-height: 1;
    color: #fff;
    font-family: FloridaMakes;
    content: '\f058';
}
.home .latest-news .HLLandingControl .Content ul li a .text-container {
    flex-basis: calc(100% - 170px);
    background: #fff;
    border: 1px solid #F0F0F0;
    padding: 25px 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: .3s;
    display: flex;
}
.home .latest-news .HLLandingControl .Content ul li a .text-container .row.title-row,
.home .latest-news .HLLandingControl .Content ul li a .text-container .row.title-row > .col-md-12, .home .latest-news .HLLandingControl .Content ul li a .text-container .row.title-row > .col-md-9 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}
.home .latest-news .HLLandingControl .Content ul li > a:hover,
.home .latest-news .HLLandingControl .Content ul li > a:focus {
    box-shadow: 0px 10px 32px -4px rgba(65, 65, 65, 0.1);
}
.home .latest-news .HLLandingControl ul li h3 {
    margin-top: 35px;
}
.home .latest-news .HLLandingControl ul li .content-tags.flex-container {
    position: absolute;
    top: 0;
    left: -8px;
}
.home .latest-news .HLLandingControl ul li .content-tags.flex-container .text-muted {
    display: none;
}
.home .latest-news .HLLandingControl ul li .content-tags.flex-container .flex-tag-container .news-tag {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8E8E8E;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    border: none;
    margin-top: 0;
}
.home .latest-news .HLLandingControl .Content ul li .ByLine {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #F3F3F3;
}

/************ tile ***********/

.tile {
    background: #fff;
    padding: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 2px;

}
.tile h2,
.tile.ContentUserControl .HLLandingControl h2 {
    color: #222;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.tile.make-buttons em,
.tile .make-buttons em,
.tile.make-buttons em a,
.tile .make-buttons em a,
.HLLandingControl div[id*="BottomLink"] .col-md-12 a {
    display: block;
}
.tile.make-buttons em a,
.tile .make-buttons em a,
.HLLandingControl div[id*="BottomLink"] .col-md-12 a {
    margin: 3px;
    text-transform: none;
    background: #FAFAFA;
    padding: 10px;
    color: #4F4F4F;
    font-size: 15px;
    border: none;
    letter-spacing: 0;
    text-align: center;
}
.tile.make-buttons em a:hover,
.tile.make-buttons em a:focus,
.tile .make-buttons em a:hover,
.tile .make-buttons em a:focus,
.HLLandingControl div[id*="BottomLink"] .col-md-12 a:hover,
.HLLandingControl div[id*="BottomLink"] .col-md-12 a:focus {
    color: #fff;
    background: [SecondaryColor];
}
.HLLandingControl div[id*="BottomLink"] .col-md-12 a,
.tile.leaderboard .make-buttons em a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/************ discussions ************/
.discussions .HLLandingControl h2,
.quick-links-title,
.leaderboard .HLEngagement h2 {
    position: relative;
}
.discussions .HLLandingControl h2::after,
.quick-links-title::after,
.leaderboard .HLEngagement h2::after {
    color: [SecondaryColor];
    position: absolute;
    right: 0;
    top: 0;
    font-family: FloridaMakes;
    content: '\f051';
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}
.discussions .HLLandingControl h2::after {
    content: '\f053';
}
.discussions .HLLandingControl .Content ul li {
    padding: 15px 0 15px 55px;
    margin: 0;
    border-top: 1px solid #F3F3F3;
    border-bottom: none;
    position: relative;
}
.discussions .HLLandingControl .Content ul li .title-row .col-md-2 {
    position: absolute;
    left: 0;
    top: 15px;
}
.discussions .HLLandingControl .Content ul li .title-row .col-md-10 {
    width: 100%;
    padding: 0;
}
.discussions.ContentUserControl .HLLandingControl .ByLine,
.discussions.ContentUserControl .HLLandingControl h5 {
    color: rgba(37, 37, 39, 0.8);
}
.discussions.ContentUserControl .HLLandingControl .ByLine a,
.discussions.ContentUserControl .HLLandingControl h5 a {
    color: [SecondaryColor];
}
.discussions p[id*="DiscussionList"] {
    margin-bottom: 0;
}
.discussions div[id*="BottomLink"],
.tile.leaderboard .make-buttons {
    padding-top: 15px;
    border-top: 1px solid #f3f3f3;
}

/************ quick links ************/

.quick-links-title {
    border-bottom: 1px solid #f3f3f3;
}
.quick-links {
    margin-top: 15px;
}
.quick-link:not(:last-child) .HtmlContent {
    margin-bottom: 5px;
}
.quick-link .HtmlContent em,
.quick-link .HtmlContent em a {
    display: block;
    margin: 0;
}

/************ leaderboard ************/

.leaderboard .HLEngagement h2::after {
    content: '\f052';
}
.leaderboard .HLEngagement .Content ul li {
    padding: 15px 0 15px 75px;
    border-top: 1px solid #f3f3f3;
    margin: 0;
    position: relative;
}
.leaderboard .HLEngagement .Content ul li .title-row .col-md-3 {
    position: absolute;
    left: 0;
    top: 20px;
    padding-right: 0;
    padding-left: 10px;
}
.leaderboard .HLEngagement .Content ul li .title-row .col-md-3::before {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid [SecondaryColor];
    color: [SecondaryColor];
    background: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 0px 4px;
    border-radius: 10px;
    z-index: 10;
}
.leaderboard .HLEngagement .Content ul li:first-child .title-row .col-md-3::before {
    content: '1st';
}
.leaderboard .HLEngagement .Content ul li:nth-child(2) .title-row .col-md-3::before {
    content: '2nd';
}
.leaderboard .HLEngagement .Content ul li:nth-child(3) .title-row .col-md-3::before {
    content: '3rd';
}
.leaderboard .HLEngagement .Content ul li:last-child .title-row .col-md-3::before {
    content: '4th';
}
.leaderboard .HLEngagement .Content ul li .col-md-9 {
    width: 100%;
    padding: 0;
}
.leaderboard .HLEngagement .Content ul li .content-row .col-md-3 {
    display: none;
}
.leaderboard .HLEngagement .Content ul li .title-row .col-md-9 a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 8px;
    margin-bottom: 6px;
    display: inline-block;
}
.leaderboard .HLEngagement .Content ul li .title-row {
    font-size: 18px;
    line-height: 1.33;
}
.leaderboard .HLEngagement .Content ul li .content-row {
    font-size: 12px;
    line-height: 16px;
}
.leaderboard .HLEngagement .Content ul li .points-label {
    background: transparent;
    padding: 0;
    color: #8E8E8E;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

/************ featured content ************/

.featured-content .HtmlContent {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.featured-content .text-container {
    padding-right: 60px;
}
.featured-content img {
    border-radius: 2px;
}
.featured-content h4,
.featured-content h2,
.featured-content p {
    margin-top: 0;
    margin-bottom: 10px;
}
.featured-content p:last-of-type {
    margin-bottom: 25px;
}

/************ subscribe ************/

.newsletter-subscribe {
    padding: 50px calc(50% - 585px);
    position: relative;
    color: #fff;
}
.newsletter-subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: [SecondaryColor];
    opacity: 0.95;
}
.newsletter-subscribe .HtmlContent {
    position: relative;
    padding-left: 95px;
}
.newsletter-subscribe .HtmlContent::before {
    font-family: FloridaMakes;
    content: '\f054';
    color: #fff;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
}
.newsletter-subscribe h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 0;
}
.newsletter-subscribe em {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/************ footer ************/

#MPFooterLink,
#MPCopyright {
    display: none
}
#MPOuterMost.full #FOOTER {
    max-width: 100%;
    padding: 0;
}
#FOOTER {
    background-color: [PrimaryColor];
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.footer-top-row {
    padding: 40px 0;
}
.footer-bottom-row {
    background-color: rgba(34,34,34,0.2);
    padding: 8px calc(50% - 600px);
    font-size: 12px;
}
.footer-top-row h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-transform: none;
    margin-top: 0;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.footer-top-row ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-top-row p,
.footer-top-row a {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
.footer-top-row p,
.footer-links ul li,
.footer-privacy ul li  {
    margin-bottom: 4px;
}
.footer-links ul {
    display: flex;
    flex-wrap: wrap;
}
.footer-links ul li {
    flex-basis: 50%;
}
.footer-social ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.footer-social ul li {
    margin-left: 6px;
}
.footer-social a {
    display: inline-block;
    background: #fff;
    color: #8E8E8E;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    opacity: 1;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
}
.footer-social a:hover,
.footer-social a:focus {
    color: [SecondaryColor];
}
.footer-attribution {
    text-align: right;
}
.footer-bottom-row a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/************ responsive ************/

/****** larger screens ******/

@media (min-width: 992px) {
    div[id*="MessagePanel"] .col-md-4 {
        width: 25%;
    }
    .top-tiles {
        display: flex;
    }
    .top-tiles > .col-md-4 {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 33.333333333%;
        display: flex;
    }
    .top-tile {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-top-row > .col-md-3:nth-child(3) {
        width: calc(50% - 145px);
    }
    .footer-top-row > .col-md-3:last-child {
        text-align: right;
        width: 145px;
    }
}

/****** smaller screens ******/

@media (max-width: 1230px) {
    #HEADER {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    .page-heading #PageTitleH1,
    .hero .HtmlContent {
        padding-left: 15px;
    }
    .newsletter-subscribe {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {
    .row-wide div[class*="section"],
    .interior .row-wide div[class*="section"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .tile-grow div[class*="section"] {
        flex-basis: 100%;
    }

    .tile-grow div[class*="section"] .HtmlContent em {
        margin: 0;
    }
    .page-heading #PageTitleH1,
    .hero .HtmlContent {
        padding-right: 15px;
        background: [PrimaryColor];
    }
    .footer-top-row > .col-md-3,
    .footer-attribution,
    .footer-copyright {
        text-align: center;
    }
    .footer-logo img {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-social ul {
        justify-content: center;
    }
    .footer-social ul li {
        margin-left: 3px;
        margin-right: 3px;
    }
    .footer-links ul,
    .who-we-are {
        display: block;
    }
    .home .latest-news .HLLandingControl .Content ul {
        flex-wrap: wrap;
    }
    .home .latest-news .HLLandingControl .Content ul li {
        flex-basis: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .featured-content .HtmlContent {
        flex-direction: column-reverse;
        padding-left: 20px;
    }
    .featured-content .text-container {
        padding-right: 0;
        padding-bottom: 60px;
    }
    .featured-event {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .digest-viewer thead.table-thead-background {
        display: none;
    }
    table.digest-viewer thead>tr>th,
    table.digest-viewer tbody>tr>th,
    table.digest-viewer tfoot>tr>th,
    table.digest-viewer thead>tr>td,
    table.digest-viewer tbody>tr>td,
    table.digest-viewer tfoot>tr>td {
        text-align: left;
    }
    table.digest-viewer td.text-right {
        float: right;
    }
    table.digest-viewer .thread-follow-icon-no-float-xs::before {
        content: 'Following';
        font-family: inherit;
        margin-right: 5px;
    }
    table.digest-viewer span[id*="lblReplies"] {
        font-weight: 700;
    }
    table.digest-viewer span[id*="lblReplies"]::after {
        content: 'replies';
        font-family: inherit;
        margin-left: 3px;
        font-weight: 400;
    }
    table.digest-viewer abbr.timeago {
        cursor: default;
        border-bottom: none;
        text-decoration: none;
    }
    table.digest-viewer .timeago::before {
        content: 'Posted:';
        margin-right: 3px;
        font-family: inherit;
    }
    .newsletter-subscribe em {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-top: 20px;
    }
}
@media (max-width: 767px) {
    #MPheader > .row:first-child {
        float: none;
        width: 100%;
    }
    #MPOuterMost #searchColumn {
        display: block;
        float: none !important;
        max-width: 100%;
    }
    .search-bar-top {
        display: none;
    }
    #Logo {
        position: relative;
        z-index: 20;
        width: calc(100% - 45px);
    }
    #MPheader > .row:first-child > .col-md-12 > .pull-right:last-child {
        width: calc(100% - 75px);
        float: left !important;
    }
}

@media (max-width: 550px) {
    .service-button {
        flex-basis: 100%;
    }
    .service-button:nth-child(odd) {
        padding-right: 0;
    }
    .service-button:nth-child(even) {
        padding-left: 0;
    }
    .home .latest-news .HLLandingControl div[id*="MoreLink"] {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .hero .HtmlContent {
        padding-top: 50px;
    }
    .interior .hero .HtmlContent {
        padding-bottom: 50px;
    }
    h1, .h1,
    .large-h2 h2 {
        font-size: 24px;
    }
    .flex-title {
        display: block;
    }
    .flex-title h2 {
        margin-bottom: 20px;
    }
    .discussions .HLLandingControl .Content ul li {
        padding-left: 0;
    }
    .discussions .HLLandingControl .Content ul li .title-row .col-md-2 {
        position: relative;
        left: auto;
        top: auto;
        margin-right: 15px;
        float: left;
    }
    .discussions .HLLandingControl .Content ul li .title-row .col-md-10 {
        width: calc(100% - 55px);
        float: left;
        padding: 0;
    }
    .home .HLEventList ul li a .title-row {
        flex-direction: column-reverse;
        align-items: unset;
    }
    .home .HLEventList ul li a .title-row .col-md-3 {
        align-self: center;
    }
    .home .HLEventList ul li a .title-row .col-md-9, .home .HLEventList ul li a .title-row .col-md-12 {
        flex-basis: 100%;
        padding-left: 0 !important;
        padding-top: 30px !important;
    }
    .home .ContentUserControl:not(.featured-event) .HLEventList ul li a .title-row .col-md-12::before {
        height: 160px;
        position: absolute;
        top: 10px;
        left: calc(50% - 80px);
        bottom: auto;
    }
    .home .ContentUserControl:not(.featured-event) .HLEventList ul li a .title-row .col-md-12 {
        padding-top: 190px !important;

    }
}