/* @import url("https://cdn.jsdelivr.net/gh/eConverse-Media/florida-makes@latest/fm-themes-stylesheet.min.css"); */

/************ basics ************/

/****** tenant-wide styles ******/

.small-h2 h2,
.small-h2 .h2,
.tile h2,
h4, .h4 {
    color: [SecondaryColor];
}
.cta-button.make-buttons em a::before {
    color: [SecondaryColor];
}
.callout-CTA h6+p::before {
    color: [SecondaryColor];
}
.text-block em a {
    background-color: [SecondaryColor];
    border-color: [SecondaryColor];
}
.testimonial-slider .slick-arrow:hover,
.testimonial-slider .slick-arrow:focus {
    color: [SecondaryColor];
}
.upcoming-events ul li .date-block {
    background: [SecondaryColor];
}
.upcoming-events ul li .col-md-10 .timeAgoFormat::before {
    color: [SecondaryColor];
}
#MPOuterMost .navbar-nav>li>.dropdown-menu {
    border-bottom-color: [SecondaryColor];
}
#MPOuterMost .navbar-nav .dropdown-menu>.active>a,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>.active>a:focus,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:hover,
#MPOuterMost .navbar-nav .dropdown-menu>li>a:focus {
    background: [SecondaryColor];
}
a {
    color: [PrimaryColor];
}
a:hover,
a:focus {
    color: [PrimaryColor];
}
.btn,
.make-buttons em a {
    border-color: [PrimaryColor];
    background-color: [PrimaryColor];
    border-radius: 2px;
}
.make-buttons.outline em a:hover,
.make-buttons.outline em a:focus {
    color: [PrimaryColor];
}
.cta-button.make-buttons em a {
    background: [PrimaryColor];
}
.testimonial-wrapper {
    background: [PrimaryColor];
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
#MPOuterMost .bootstrap-4 .btn-primary.focus,
#MPOuterMost .bootstrap-4 .btn-primary:focus,
#MPOuterMost .bootstrap-4 .btn-primary.hover,
#MPOuterMost .bootstrap-4 .btn-primary:hover:not(:disabled),
#MPOuterMost .bootstrap-4 .btn-success.focus,
#MPOuterMost .bootstrap-4 .btn-success:focus,
#MPOuterMost .bootstrap-4 .btn-success.hover,
#MPOuterMost .bootstrap-4 .btn-success:hover:not(:disabled),
#MPOuterMost .bootstrap-4 .btn-danger.focus,
#MPOuterMost .bootstrap-4 .btn-danger:focus,
#MPOuterMost .bootstrap-4 .btn-danger.hover,
#MPOuterMost .bootstrap-4 .btn-danger:hover:not(:disabled),
#MPOuterMost .bootstrap-4 fieldset.icon-radio-group label input[aria-checked=true]+*,
#MPOuterMost .bootstrap-4 .btn-icon-alt-secondary {
    background: [PrimaryColor];
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
#MPOuterMost .bootstrap-4 fieldset.icon-radio-group label input[aria-checked=true]+*,
#MPOuterMost .bootstrap-4 .btn-icon-alt-secondary {
    border-color: [PrimaryColor];
}

/****** backgrounds / homepage components ******/

.bg-grey {
    padding: 70px 0;
    background: #f8f8f8;
}

/*** primary color background ***/
.bg-primary {
    padding: 70px 0;
    background: [PrimaryColor];
    position: relative;
}
.bg-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    display: block;
}
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary p {
    color: #fff;
}
.bg-primary h4,
.featured-news h4 {
    margin: 0;
}
.bg-primary h2,
.featured-news h2 {
    margin: 10px 0;
}

/*** row width ***/
@media (min-width: 992px) {
    .row-5-7 > .col-md-4 {
        width: 41.66666666667%;
    }
    .row-5-7 > .col-md-8 {
        width: 58.33333333333%;
    }
}

/*** flex title ***/ 
.flex-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-title h2 {
    margin-top: 0;
    margin-bottom: 0;
}

/*** margins ***/
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-70 {
    margin-top: 70px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
@media (max-width: 991px) {
    .margin-bottom-40-mob {
        margin-bottom: 40px;
    }
}

/************ header ************/

#MPOuterMost.full #HEADER {
    max-width: 100%;
}
#MPOuterHeader > .col-md-12,
#HEADER > .col-md-12 {
    padding: 0;
}

#HEADER {
    padding: 5px calc(50% - 600px) 15px calc(50% - 600px);
    border-bottom: 1px solid #F5F5F5;
}

/****** logo and top text links ******/

#Logo {
    float: left;
}
#MPheader > .row:first-child {
    float: right;
    width: calc(100% - 385px);
    margin: 0;
    padding: 0;
}
.skiplinkholder a, .skiplinkholder a:link, .skiplinkholder a:visited {
    left: -500%;
	top: -250px;
}
.skiplinkholder a:focus, .skiplinkholder a:active {
    left: 0;
	top: 0;
}
#MPheader > .row:first-child > .col-md-12 {
    padding: 0;
}

/*** logo ***/
#MPOuterMost.full #Logo {
    
    padding: 0;
    margin: 0;
}
#Logo > .col-md-12 {
    padding: 0;
}
#DesktopLogoDiv {
    max-width: 300px;
}

/****** login / profile link ******/

#Welcome_LoginLink,
#Welcome_LoginLink:hover,
#Welcome_LoginLink:focus,
#Welcome_LoginLink:active {
    background: transparent;
    border: none;
    box-shadow: none;
}
#BtnShowProfile {
    display: none;
}
#Welcome_Content .imgButton {
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin-top: -3px;
}

/****** search ******/

#searchColumn {
    display: none;
}
.search-bar-top {
    float: right;
    width: 270px;
}
.search-bar-top,
#searchColumn {
    margin-top: 30px;
    border-radius: 2px;
    background: linear-gradient(0deg, rgba(244, 246, 248, 0.3), rgba(244, 246, 248, 0.3));
    border: 1px solid #F5F5F5;
    padding: 3px;
}
.search-bar-top .form-control,
#searchColumn .form-control {
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 1px 5px;
    color: #C8C8C8;
    font-size: 13px;
    line-height: 22px;
    height: 24px;
    box-shadow: none;
}
.search-bar-top .form-control::placeholder,
#searchColumn .form-control::placeholder {
    font-style: normal;
}
.search-bar-top button[id*="SearchButton"],
#searchColumn button[id*="SearchButton"] {
    border-radius: 2px;
    background: [PrimaryColor];
    border-color: [PrimaryColor];
    padding: 0;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    width: 30px;
    height: 26px;
    padding-left: 2px;
}
.search-bar-top button[id*="SearchButton"] .glyphicon-search,
#searchColumn button[id*="SearchButton"] .glyphicon-search {
    width: auto;
    top: 0;
    vertical-align: unset !important;
}
.search-bar-top button[id*="SearchButton"] .glyphicon-search::before,
#searchColumn button[id*="SearchButton"] .glyphicon-search::before {
    color: #fff;
    font-family: FloridaMakes;
    content: '\f01c';
}
#searchColumn #MPSearchBlock {
    margin-top: 0;
}

/****** main nav ******/

/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #8e8e8e;
    border-top-color: #8e8e8e;
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: [SecondaryColor];
    border-bottom-color: [SecondaryColor];
}

/************ interior page titles ************/

.page-heading {
    background-size: cover;
    background-position: center;
}
.page-heading #PageTitleH1 {
    max-width: 100%;
    padding: 80px calc(50% - 585px);
    background: rgba(0,0,0,0.6);
    color: #fff;
}

/************ hero ************/

.hero .HtmlContent {
    background: rgba(0, 0, 0, 0.6);
    padding: 150px calc(50% - 585px);
}
.hero h1,
.hero h2,
.hero h3,
.hero p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

/************ what we do ************/

.service-buttons {
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 5px;
}
.service-button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
}
.service-button .HtmlContent,
.service-button em {
    display: flex;
}
.service-button .HtmlContent,
.service-button.make-buttons em,
.service-button.make-buttons em a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 0;
}
.service-button.make-buttons em {
    padding: 0 20px;
}
.service-button.make-buttons em a {
    background: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0;
    text-transform: none;
    border: none;
    padding: 15px 15px 15px 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    display: block;
    opacity: 0.8;
}
.service-button.make-buttons em a:hover,
.service-button.make-buttons em a:focus {
    opacity: 1;
}
.service-button.make-buttons:last-child em a,
.service-button.make-buttons:nth-last-child(2) em a {
    border-bottom: none;
}
.service-button.make-buttons em a::before {
    display: none;
}
.service-button.make-buttons em a::after {
    font-weight: 400;
    font-family: FloridaMakes;
    content: '\f057';
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/************ who we are ************/

.home .who-we-are {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}
.card {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
    padding: 5px;
}
.card > a {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    background: #F8F8F8;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 20px;
    text-decoration: none;
    color: #8e8e8e;
    position: relative;
}
.card > a::before {
    font-family: FloridaMakes;
    content: '\f022';
    color: [SecondaryColor];
    font-size: 42px;
    line-height: 1;
    display: block;
}
.card.file > a::before {
    content: '\f049';
}
.card.calendar > a::before {
    content: '\f04a';
}
.card.comments > a::before {
    content: '\f04b';
}
.card.lectern > a::before {
    content: '\f04c';
}
.card.handshake > a::before {
    content: '\f04d';
}
.card.question > a::before {
    content: '\f04e';
}
.card.assessment > a::before {
    content: '\f024';
}
.card.services > a::before {
    content: '\f031';
}
.card.technology > a::before {
    content: '\f027';
}
.card.cyber > a::before {
    content: '\f029';
}
.card.globe > a::before {
    content: '\f02a';
}
.card.improvement > a::before {
    content: '\f025';
}
.card.network > a::before {
    content: '\f026';
}
.card.training > a::before {
    content: '\f028';
}
.card.clipboard > a::before {
    content: '\f030';
}
.card.flood > a::before {
    content: '\f02b';
}
.card > a:hover,
.card > a:focus {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 10px 32px -4px rgba(65, 65, 65, 0.1), 0px 6px 14px -6px rgba(65, 65, 65, 0.12);
    color: #8e8e8e;
    text-decoration: none;
}
.card h3 {
    margin-top: 12px;
    margin-bottom: 4px;
}
.card p:last-child {
    margin-bottom: 0;
}

/************ featured programs ************/

.featured-programs {
    display: flex;
    margin: 5px -15px 60px -15px;
}
.featured-program {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.featured-program > a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #8e8e8e;
}
.featured-program > a:hover,
.featured-program > a:focus {
    box-shadow: 0px 6px 14px -6px rgba(65, 65, 65, 0.12), 0px 10px 32px -4px rgba(65, 65, 65, 0.1);
    color: #8e8e8e;
    text-decoration: none;
}
.featured-program .img-container {
    height: 160px;
    width: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom: 5px solid [SecondaryColor];
}
.featured-program .HtmlContent {
    flex-basis: calc(100% - 160px);
    background: #fff;
    padding: 25px 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #f3f3f3;
}
.featured-program h3 {
    margin-top: 0;
    margin-bottom: 4px;
}
.featured-program .HtmlContent > *:last-child {
    margin-bottom: 0;
}

/************ widgets ************/

.HLLandingControl .Content,
.ContentUserControl .HLLandingControl {
    padding: 0;
    margin: 0;
    border: none;
}
.HLLandingControl .Content ul {
    padding-top: 0;
}
.HLLandingControl .ByLine {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8e8e8e;
}
.byline-and-posted-in {
    margin-top: 4px;
    margin-bottom: 10px;
}
.byline-and-posted-in .ByLine,
.byline-and-posted-in h5 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.byline-and-posted-in .ByLine {
    margin-right: 20px;
}
.HLLandingControl div[id*="BottomLink"] .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
.HLLandingControl div[id*="BottomLink"] .col-md-12 a {
    display: block;
    text-align: center;
    background: #F8F8F8;
    border-radius: 2px;
    padding: 10px 24px;
    color: #333;
    border: 1px solid #f8f8f8;
}
.HLLandingControl div[id*="BottomLink"] .col-md-12 a::before {
    background: #000;
}
.HLLandingControl div[id*="BottomLink"] .col-md-12 a:hover::before,
.HLLandingControl div[id*="BottomLink"] .col-md-12 a:focus::before {
    opacity: 0.03;
}

/************ events ************/

.home .HLEventList .Content ul {
    display: flex;
    margin: 5px -15px -15px -15px;
}
.home .HLEventList .Content ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.33333333333%;
    padding: 15px;
    margin: 0;
    border: none;
}
.home .HLEventList .Content ul li a {
    position: relative;
    display: block;
    text-decoration: none;
}
.home .HLEventList .Content ul li .col-md-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    padding: 0;
}
.home .HLEventList .Content ul li .col-md-10 {
    width: 100%;
    padding: 0;
}
.home .HLEventList .Content ul li .title-row {
    display: flex;
    flex-direction: column-reverse;
}
.home .HLEventList .Content ul li:first-child .title-row .col-md-3 {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/FLORIDAMAKES/4138bad1-c0da-47b2-b4ce-8fd782849b85/UploadedImages/RMA_2/dev_images/unsplash_7XCUuqID4iI.png');
}
.home .HLEventList .Content ul li:nth-child(2) .title-row .col-md-3 {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/FLORIDAMAKES/4138bad1-c0da-47b2-b4ce-8fd782849b85/UploadedImages/RMA_2/dev_images/unsplash_7XCUuqID4iI__1_.png');
}
.home .HLEventList .Content ul li:last-child .title-row .col-md-3 {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/FLORIDAMAKES/4138bad1-c0da-47b2-b4ce-8fd782849b85/UploadedImages/RMA_2/dev_images/unsplash_7XCUuqID4iI__2_.png');
}
.home .HLEventList .Content ul li .title-row .col-md-3 {
    background-size: cover;
    background-position: center;
    width: calc(100% - 2px);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 165px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home .HLEventList .Content ul li .title-row .col-md-9 {
    height: 170px;
    background: #fff;
    padding: 25px 20px !important;
    border: 1px solid #F4F4F4;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    transition: .3s;
    position: relative;
}
.home .HLEventList .Content ul li a:hover,
.home .HLEventList .Content ul li a:focus {
    box-shadow: 0px 10px 32px -4px rgba(65, 65, 65, 0.1), 0px 6px 14px -6px rgba(65, 65, 65, 0.12);
}
.home .HLEventList .Content ul li .title-row .timeAgoFormat {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-top: 1px solid #f3f3f3;
    padding-top: 20px;
    color: #8e8e8e;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
.home .HLEventList .Content ul li .title-row .timeAgoFormat::before {
    color: [SecondaryColor];
    float: left;
    margin-right: 2px;
    font-size: 14px;
    line-height: 16px;
    font-family: FloridaMakes;
    content: '\f01f';
}

/****** toggle ******/

.events-toggle .HtmlContent {
    background: #fff;
    padding: 3px;
    border-radius: 2px;
}
.events-toggle button {
    padding: 5px 15px;
    border-radius: 2px;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background: transparent;
}
.events-toggle button.is-active {
    color: #fff;
    background-color: [PrimaryColor];
}

/****** date blocks ******/

.home .HLEventList .Content ul li .date-block {
    background: [SecondaryColor];
    height: 60px;
    width: 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.home .HLEventList .Content ul li .date-block .calendar-day {
    display: none;
}
.home .HLEventList .Content ul li .date-block .calendary-number {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
}
.home .HLEventList .Content ul li .date-block .calendar-month {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

/************ latest news ************/

/****** featured news ******/

.featured-news {
    margin-bottom: 70px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    margin-top: 20px;
}
.featured-news .img-container {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
}
.featured-news .HtmlContent {
    padding: 80px 60px;
    background: #F8F8F8;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 60%;
}
.home .who-we-are .HtmlContent > em:last-child,
.what-we-do .HtmlContent > em:last-child,
.featured-news .HtmlContent > em:last-child {
    margin-top: 10px;
}

/****** latest news ******/

.latest-news .HLLandingControl.SearchResults ul li .title-row .col-md-9.col-sm-9,
.latest-news .HLLandingControl.SearchResults ul li .title-row .col-md-7.col-sm-7 {
    width: 100%;
}
.latest-news .HLLandingControl.SearchResults ul li .title-row .col-md-3.pull-right {
    display: none;
}
.latest-news .HLLandingControl .Content ul {
    margin-left: -15px;
    margin-right: -15px;
}
.latest-news .HLLandingControl .Content ul li {
    border-bottom: none;
    margin: 0;
    padding: 0 15px;
    position: relative;
}
.latest-news .HLLandingControl ul li h3 {
    margin-top: 35px;
}
.latest-news .HLLandingControl ul li .content-tags.flex-container {
    position: absolute;
    top: 0;
    left: -8px;
}
.latest-news .HLLandingControl ul li .content-tags.flex-container .text-muted {
    display: none;
}
.latest-news .HLLandingControl ul li .content-tags.flex-container .flex-tag-container a {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: [SecondaryColor];
    padding: 1px 8px;
    border: 1px solid [SecondaryColor];
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
}
.latest-news .HLLandingControl ul li .content-tags.flex-container .fa-user {
    display: none;
}

/*** arrows ***/

.latest-news .slick-arrow {
    background: transparent;
    color: #8E8E8E;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    border: none;
    padding: 0;
}
.latest-news .slick-arrow::before {
    font-family: FloridaMakes;
}
.latest-news .slick-arrow.prev-arrow {
    left: -55px;
}
.latest-news .slick-arrow.prev-arrow::before {
    content: '\f020';
}
.latest-news .slick-arrow.next-arrow {
    right: -55px;
}
.latest-news .slick-arrow.next-arrow::before {
    content: '\f021';
}

/************ tile ***********/

.tile {
    background: #fff;
    padding: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 2px;

}
.tile h2,
.tile.ContentUserControl .HLLandingControl h2 {
    color: #222;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
}

/************ discussions ************/

.discussions .HLLandingControl .Content ul li {
    padding: 15px 0 15px 55px;
    margin: 0;
    border-top: 1px solid #F3F3F3;
    border-bottom: none;
    position: relative;
}
.discussions .HLLandingControl .Content ul li .title-row .col-md-2 {
    position: absolute;
    left: 0;
    top: 15px;
}
.discussions .HLLandingControl .Content ul li .title-row .col-md-10 {
    width: 100%;
    padding: 0;
}
.discussions.ContentUserControl .HLLandingControl .ByLine,
.discussions.ContentUserControl .HLLandingControl h5 {
    color: rgba(37, 37, 39, 0.8);
}
.discussions p[id*="DiscussionList"] {
    margin-bottom: 0;
}

/************ quick links ************/

.quick-links-title {
    border-bottom: 1px solid #EFEFEF;
}
.quick-links {
    padding: 15px 0 0 0;
    margin: -5px;
    display: flex;
    flex-wrap: wrap;
}
.quick-link {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
    padding: 5px;
}
.quick-link .HtmlContent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}
.quick-link .HtmlContent a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #333;
    text-decoration: none;
    background: #F8F8F8;
    border-radius: 2px;
    border: 1px solid #f8f8f8;
}
.quick-link .HtmlContent a:hover,
.quick-link .HtmlContent a:focus {
    background: #fff;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 10px 32px -4px rgba(65, 65, 65, 0.1), 0px 6px 14px -6px rgba(65, 65, 65, 0.12);
}
.quick-link .HtmlContent a::before {
    font-family: FloridaMakes;
    color: [PrimaryColor];
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    content: '\f022';
    margin-bottom: 8px;
}
.quick-link.file .HtmlContent a::before {
    content: '\f049';
}
.quick-link.calendar .HtmlContent a::before {
    content: '\f04a';
}
.quick-link.comments .HtmlContent a::before {
    content: '\f04b';
}
.quick-link.lectern .HtmlContent a::before {
    content: '\f04c';
}
.quick-link.handshake .HtmlContent a::before {
    content: '\f04d';
}
.quick-link.question .HtmlContent a::before {
    content: '\f04e';
}
.quick-link.assessment .HtmlContent a::before {
    content: '\f024';
}
.quick-link.services .HtmlContent a::before {
    content: '\f031';
}
.quick-link.technology .HtmlContent a::before {
    content: '\f027';
}
.quick-link.cyber .HtmlContent a::before {
    content: '\f029';
}
.quick-link.globe .HtmlContent a::before {
    content: '\f02a';
}
.quick-link.improvement .HtmlContent a::before {
    content: '\f025';
}
.quick-link.network .HtmlContent a::before {
    content: '\f026';
}
.quick-link.training .HtmlContent a::before {
    content: '\f028';
}
.quick-link.clipboard .HtmlContent a::before {
    content: '\f030';
}
.quick-link.flood .HtmlContent a::before {
    content: '\f02b';
}
.quick-link .HtmlContent a:hover::before,
.quick-link .HtmlContent a:focus::before {
    color: [SecondaryColor];
}

/************ ad space ************/

.ad-space {
    margin-top: 45px;
}
.ad-space .HtmlContent {
    margin-left: auto;
    margin-right: auto;
}
.ad-space .HtmlContent:empty {
    border: 1px dashed #CBCBCB;
    width: 336px;
    height: 280px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #b1b1b1;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ad-space .HtmlContent:empty::before {
    content: 'Ad Space';
}
.ad-space .HtmlContent:empty::after {
    content: '336 x 280';
}

/************ sponsors ************/

.sponsors.slick-slider.slick-initialized {
    margin: 10px -15px -32px -15px;
}

.sponsors .slick-track {
    display: flex;
}
.sponsors .sponsor.slick-slide {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    padding: 15px 15px 32px 15px;
    min-height: 170px;
}
.sponsor .HtmlContent,
.sponsor a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}
.sponsor a {
    background: #fff;
    border: 1px solid #F3F3F3;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}
.sponsor a:hover,
.sponsor a:focus {
    box-shadow: 0px 10px 32px -4px rgba(65, 65, 65, 0.1), 0px 6px 14px -6px rgba(65, 65, 65, 0.12);
}

/************ subscribe ************/

.newsletter-subscribe {
    padding: 50px calc(50% - 585px);
    position: relative;
    color: #fff;
}
.newsletter-subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: [PrimaryColor];
    opacity: 0.8;
}
.newsletter-subscribe .HtmlContent {
    position: relative;
}

@supports (background-blend-mode: multiply) {
    .newsletter-subscribe {
        background-color: [PrimaryColor];
        background-blend-mode: multiply;
    }
    .newsletter-subscribe::before {
        display: none;
    }
}
.newsletter-subscribe h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 10px;
}
.newsletter-subscribe em {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/************ footer ************/

#MPFooterLink,
#MPCopyright {
    display: none
}
#MPOuterMost.full #FOOTER {
    max-width: 100%;
    padding: 0;
}
#FOOTER {
    background-color: #302E2E;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.footer-top-row {
    padding: 40px 0;
}
.footer-bottom-row {
    background-color: #292727;
    padding: 8px calc(50% - 600px);
    font-size: 12px;
}
.footer-top-row h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-transform: none;
    margin-top: 0;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.footer-top-row ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-top-row p,
.footer-top-row a {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
.footer-top-row a:hover,
.footer-top-row a:focus {
    opacity: 1;
}

.footer-top-row p,
.footer-links ul li,
.footer-privacy ul li  {
    margin-bottom: 4px;
}
.footer-links ul {
    display: flex;
    flex-wrap: wrap;
}
.footer-links ul li {
    flex-basis: 50%;
}
.footer-social ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.footer-social ul li {
    margin-left: 6px;
}
.footer-social a {
    display: inline-block;
    background: #fff;
    color: #8E8E8E;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    opacity: 1;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12);
}
.footer-social a:hover,
.footer-social a:focus {
    color: [PrimaryColor];
}
.footer-attribution {
    text-align: right;
}
.footer-bottom-row a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/************ responsive ************/

/****** larger screens ******/

@media (min-width: 992px) {
    div[id*="MessagePanel"] .col-md-4 {
        width: 25%;
    }
    .footer-top-row > .col-md-3:nth-child(3) {
        width: calc(50% - 145px);
    }
    .footer-top-row > .col-md-3:last-child {
        width: 145px;
        text-align: right;
    }
}

/****** smaller screens ******/

@media (max-width: 1325px) {
    .latest-news .slick-arrow.prev-arrow {
        left: -25px;
    }
    .latest-news .slick-arrow.next-arrow {
        right: -25px;
    }
}

@media (max-width: 1275px) {
    .latest-news .HLLandingControl .Content ul {
        width: calc(100% - 50px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1230px) {
    #HEADER {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    .newsletter-subscribe,
    .hero .HtmlContent {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {
    .row-wide div[class*="section"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .tile-grow div[class*="section"] {
        flex-basis: 100%;
    }

    .tile-grow div[class*="section"] .HtmlContent em {
        margin: 0;
    }
    .footer-top-row > .col-md-3,
    .footer-attribution,
    .footer-copyright {
        text-align: center;
    }

    .footer-logo img {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-social ul {
        justify-content: center;
    }
    .footer-social ul li {
        margin-left: 3px;
        margin-right: 3px;
    }
    .footer-links ul,
    .home .who-we-are {
        display: block;
    }
    .featured-programs,
    .home .HLEventList .Content ul {
        flex-wrap: wrap;
    }
    .home .HLEventList .Content ul li {
        flex-basis: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .featured-program {
        flex-basis: 50%;
    }
    .featured-news {
        flex-direction: column;
    }
    .featured-news .img-container {
        height: 400px;
        flex-basis: auto;
        background-position: top center;
    }
    .service-buttons,
    .cards {
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .digest-viewer thead.table-thead-background {
        display: none;
    }
    table.digest-viewer thead>tr>th,
    table.digest-viewer tbody>tr>th,
    table.digest-viewer tfoot>tr>th,
    table.digest-viewer thead>tr>td,
    table.digest-viewer tbody>tr>td,
    table.digest-viewer tfoot>tr>td {
        text-align: left;
    }
    table.digest-viewer td.text-right {
        float: right;
    }
    table.digest-viewer .thread-follow-icon-no-float-xs::before {
        content: 'Following';
        font-family: inherit;
        margin-right: 5px;
    }
    table.digest-viewer span[id*="lblReplies"] {
        font-weight: 700;
    }
    table.digest-viewer span[id*="lblReplies"]::after {
        content: 'replies';
        font-family: inherit;
        margin-left: 3px;
        font-weight: 400;
    }
    table.digest-viewer abbr.timeago {
        cursor: default;
        border-bottom: none;
        text-decoration: none;
    }
    table.digest-viewer .timeago::before {
        content: 'Posted:';
        margin-right: 3px;
        font-family: inherit;
    }
    .newsletter-subscribe em {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-top: 20px;
    }
}
@media (max-width: 767px) {
    #MPheader > .row:first-child {
        float: none;
        width: 100%;
    }
    #MPOuterMost #searchColumn {
        display: block;
        float: none !important;
        max-width: calc(100% - 30px);
        margin-left: 15px;;
    }
    .search-bar-top {
        display: none;
    }
    #Logo {
        position: relative;
        z-index: 20;
        width: calc(100% - 45px);
    }
    #MPheader > .row:first-child > .col-md-12 > .pull-right:last-child {
        width: calc(100% - 75px);
        float: left !important;
    }
}

@media (max-width: 650px) {
    .featured-program,
    .card {
        flex-basis: 100%;
    }
}

@media (max-width: 550px) {
    .featured-news .HtmlContent {
        padding: 30px;
    }
    .service-button {
        flex-basis: 100%;
    }
}

@media (max-width: 450px) {
    .hero .HtmlContent {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1, .h1,
    .large-h2 h2 {
        font-size: 24px;
    }
    .flex-title {
        display: block;
    }
    .flex-title h2 {
        margin-bottom: 20px;
    }
    .discussions .HLLandingControl .Content ul li {
        padding-left: 0;
    }
    .discussions .HLLandingControl .Content ul li .title-row .col-md-2 {
        position: relative;
        left: auto;
        top: auto;
        margin-right: 15px;
        float: left;
    }
    .discussions .HLLandingControl .Content ul li .title-row .col-md-10 {
        width: calc(100% - 55px);
        float: left;
        padding: 0;
    }
}

@media (max-width: 350px) {
    .events-toggle button {
        font-size: 14px;
        padding: 5px 8px;
    }
}